
.err{
 color: red;   
}
.box input{
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
}
.box input[type="text"],input[type="password"]{
    border: none;
    border-bottom: 1px solid#fff;
    background-color: transparent;
    outline: none;
    height: 40px;
    font-size: 15px;
}
.box input[type="submit"]{
    border: none;
    color: #fff;
    border-radius: 20px;
    background-color: aquamarine;
    outline: none;
    height: 40px;
   
}
.box input[type="submit"]:hover{
   cursor: pointer;
   background-color: #ffc107;
   
}
