
*{
    margin: 0;
    padding: 0;
   
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(64, 63,63);
    color: #fff;
}
a{
    text-decoration: none;
    color:  #fff;
}
li{
    list-style: none;
}
nav{
    background: #000;
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 80px;
    
}
nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
}
nav ul li a{
    font-size: 18px;
}
nav ul li a::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-right: auto;
    transition: 0.4s;
}
nav ul li a:hover::after{
    width: 100%;
}
nav ul li a:hover{
    color:#f44336 ;
}
.fa-bars{
  font-size: 24px;
  cursor: pointer;
 
}
.menu-icon{
  display: none;
}
  /* Hero section */
  .hero-section{
    height: calc(100vh-80px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 4rem;
}
.hero-section .left{
     width: 50%;
}
.hero-section .left h1{
    font-size: 42px;
}
.hero-section .left p{
    font-size: 18px;
    color: #888;
    padding-block: 20px;
}
.hero-section .left a{
    font-weight: 600;
}
.btn{
    background:#f44336 ;
    padding: 12px 30PX;
    display: inline-block;
    transition: 0.4s;
}
.btn:hover{
    background: #e91101;
}
.hero-section .right{
    width: 50%;
}
.hero-section .right img{
    width: 100%;
}
    /* MENU SECTION */
    #menusection{
        padding: 100px 4rem;
    }
    #menusection h2{
        text-align: center;
        font-size: 28px;
    }
    .menu-container{
        padding: 80px 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }
  .menu-item{
    width: 320px;
    background: #fff;
    padding: 20px;
  }
  .menu-item img{
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  .menu-item h4{
    padding-block: 15px;
    color: #000;
  }
  #trendsection{
    padding: 100px 4rem;
    /* padding-top: 40px; */
  }

#trendsection h2{
  font-size: 28px;
  text-align: center;
}
.trending-container{
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.trend-item{
  width: 320px;
  height: 320px;
  background: #fff;
  padding: 6px;
  overflow: hidden;
}
.trend-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}
.trend-item img:hover{
  transform: scale(1.3);
}