/* trend section */
#trendsection {
    padding: 40px 4rem;
    
  }
  
  #trendsection h2 {
    font-size: 28px;
    text-align: center;
  }
  .trending-container {
    padding: 60px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  .trend-item {
    width: 320px;
    height: 320px;
    background: #fff;
    padding: 6px;
    overflow: hidden;
  }
  .trend-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
  }
  .trend-item img:hover {
    transform: scale(1.3);
  }